@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 790px) {
  html {
    overflow-y: scroll;
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 58.125rem;
  border-radius: 1.25rem;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 1.563rem;
}

.main__image {
  position: relative;
  padding: 3.125rem 0;
  z-index: 50;
}

.main__image #ill {
  height: 100%;
  position: absolute;
  overflow: hidden !important;
  top: -18.75rem;
  left: -36.25rem;
  z-index: 40;
}

@media (max-width: 790px) {
  .main__image #ill {
    top: 6.25rem;
    overflow: hidden !important;
    left: -3.125rem;
  }
}

.main__image__container {
  overflow: hidden;
}

.main__image__container picture {
  margin-left: -5rem;
}

@media (max-width: 790px) {
  .main__image__container {
    overflow: visible;
  }
}

@media (max-width: 790px) {
  .main__image {
    padding: 0;
    margin: -6.86rem auto 0;
  }
}

.main__box {
  position: absolute;
  top: 11.875rem;
  left: -5.725rem;
}

@media (max-width: 790px) {
  .main__box {
    display: none;
  }
}

.main__box__moved {
  position: absolute;
  top: 11.875rem;
  left: -7.725rem;
}

@media (max-width: 790px) {
  .main__box__moved {
    display: none;
  }
}

@media (max-width: 790px) {
  .main {
    max-width: 28.125rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin-top: 7.5rem;
  }
}

.question {
  padding: 3.125rem;
  padding-bottom: 1.875rem;
}

.question .title {
  color: #1d1e35;
  font-size: 1.75rem;
  padding-bottom: 1.25rem;
  font-weight: 700;
}

.question div {
  border-bottom: 1px solid #e7e7e9;
}

.question span {
  float: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.question label {
  color: #4a4b5e;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.938rem 0.938rem 0.938rem 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.question label:hover {
  color: #f47c57;
}

.question .answer {
  overflow: hidden;
  opacity: 0;
  height: 0;
  padding: 0.313rem 0;
  color: #787887;
  font-size: 0.875rem;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.question input {
  display: none;
}

.question input:checked ~ .answer {
  height: 4rem;
  opacity: 1;
}

.question input:checked ~ label {
  color: #1d1e35;
  font-weight: 700;
}

.question input:checked ~ label span {
  -webkit-transform: rotate(-540deg);
          transform: rotate(-540deg);
  -webkit-transform: scale(2, 0.5s);
          transform: scale(2, 0.5s);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.attribution {
  position: absolute;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  font-size: 11px;
}

.attribution a:link {
  color: #f47c57;
  background-color: transparent;
  text-decoration: none;
}

.attribution a:hover {
  color: #e7e7e9;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#fixer {
  height: 30%;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */