*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient($softviolet, $softblue);
  font-size: 0.75rem;
}

body {
  font-family: $Kumbh;
  min-height: 100vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: all 0.5s ease-out;
}

.main {
 width: 58.125rem;
 border-radius: 1.25rem;
 background-color: white;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 margin: 1.563rem;

 &__image {
   position: relative;
   padding: 3.125rem 0;
   #ill {
    position: absolute;
    top: -18.75rem;
    left: -36.25rem;
  }
  &__container{
    margin-left: -5rem;
  }
 }
 
 &__box {
  position: absolute;
  top: 11.875rem;
  left: -5.625rem;
 }
}

// h3{
//   font-size: 1.2rem;
//   font-weight: 400;
//   margin: 1.4rem 0;
//   color: $verydarkgrayishblue;
// }
// .content {
//   margin-top: 1.875rem;

//   .title {
//     font-size: 2rem;
    
//   }
// }
// .questions {
//   height: 100%;
//   margin-top: 0rem;
//   display: flex;
//   flex-direction: column;
//   &__container {
//     width: 21.875rem;
//     border-bottom: 0.063rem solid $lightgrayishblue;
//     .question {
//       display: flex;
//       justify-content: space-between;
//       cursor: pointer;
//       img {
//         align-self: center;
//       }
//     }
//     .answer{
//       display: none;
//     }
//   }
// }
