*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient($softviolet, $softblue);
  font-size: 0.75rem;
}

body {
  font-family: $Kumbh;
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  
  // transition: all 0.5s ease-out;
  
}

.main {
 background-color: white;
 background-image: url('/images/bg-pattern-desktop.svg');
 background-repeat: no-repeat;
 border-radius: 1.875rem;
 height: 31.813rem;
 width: 57.5rem;
 display: grid;
 grid-template-columns: 25rem 1fr;
 grid-gap: 6rem;

 &__image{
   position: relative;
   &__container {
     background-image: url('/images/illustration-woman-online-desktop.svg');
     background-repeat: no-repeat;

     height: 100%;
   }
 }
}

h3{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.4rem 0;
  color: $verydarkgrayishblue;
}
.content {
  margin-top: 1.875rem;

  .title {
    font-size: 2rem;
    
  }
}
.questions {
  height: 100%;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  &__container {
    width: 21.875rem;
    border-bottom: 0.063rem solid $lightgrayishblue;
    .question {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      img {
        align-self: center;
      }
    }
    .answer{
      display: none;
    }
  }
}
